- welcome = get_block("welcome")

%a#s-welcome.d-scroll{ "down" => "s-history", "top" => "s-welcome"}
- if welcome
  .cf
    .block.left{:style => "margin: 107px 31px 0 308px; width: 188px; text-align: center"}
      %br
      = image_tag welcome.get_image.image(:big)
    .block.left{:style => "margin: 154px auto 140px; width: 436px;"}
      %h1= welcome.title
      = raw welcome.content


- history = get_block("history")
%a#s-history.d-scroll{ "down" => "s-client", "top" => "s-welcome"}
- if history
  .cf
    .block{:style => "margin: 220px auto 313px 161px; width: 687px; "}
      %h1= history.title
      = raw history.content

.cf{:style => "margin: 0 0 0 210px; width: 885px"}
  - client = get_block("client")
  - if client
    .block.inline.summary#summary1.sf{:style => "margin: 0 0 0 26px; width: 211px", :target => "scroll1" }
      %h1=client.title
      = raw client.content


  %a#s-client.d-scroll{ "down" => "s-expert", "top" => "s-history"}
  - clients = Client.all
  - if clients.present?
    .block.images#scroll1.right
      %ul.cf
        - clients.each do |cl|
          %li
            = image_tag cl.image(:medium)
            %span=cl.title


.cf{:style => "margin: 239px 0 140px 239px; width: 807px"}
  - expert = get_block("expert")
  - if expert
    .block.inline#summary2.sf{:style => "width: 341px", :target => "scroll2"}
      %h1=expert.title
      = raw expert.content


  %a#s-expert.d-scroll{ "down" => "s-expert" ,"top" => "s-client"}
  - experts = Specialist.all
  - if experts.present?
    .block.right.experts.sliders#scroll2{:style => "margin-right: 33px; width: 376px"}
      %ul

        - experts.each_with_index do |ex, index|
          %li.slide.a-show{ :index => index }
            = image_tag ex.avatar(:medium)
            .inline
              %span= ex.name
              %em= ex.position
            .more.cf
              %a.item-close{:href => "#"} ×
              .controls
                .control.prev  <
                .control.next >
              .item-img
                = image_tag ex.avatar(:medium)
              .item-info
                %h3= ex.name
                %span.position= ex.position
                .content
                  = raw ex.content

= render :partial => "footer"
