- line = get_block("line")
%a#s-line.d-scroll{ "down" => "line_of_work_1", "top" => "s-line"}
- if line
  .cf
    .block.right{:style => "width: 644px; margin: 274px 24% 0 0"}
      %h1= line.title
      = raw line.content


- line_of_work = LineOfWork.all
- if line_of_work
  .sliders.line_of_works.cf
    - line_of_work.each_with_index do |line, index|
      .cf
        %a.d-scroll{ "down" => line == line_of_work.last ? "s-other_line" : "line_of_work_#{line.id+1}", "top" => line == line_of_work.first ? "s-line" : "line_of_work_#{line.id-1}", :id => "line_of_work_#{line.id}"}
        .block.right.slide{:class => "line_of_work_#{line.id}", :index => index }
          %h1= line.title
          = raw line.content
          - if line.popup_content.present?
            = link_to "Подробнее", "#", :class => "a-show"
            .more.cf
              %a.item-close{:href => "#"} ×
              .controls
                .control.prev  <
                .control.next >
              .item-info
                %h3= line.title
                = raw line.popup_content
                .help-block
                  - line.projects.each do |pr|
                    %span= link_to_function pr.title, "setProject('project_#{pr.id}');"




%a#s-other_line.d-scroll{ "down" => "s-other_line", "top" => "line_of_work_#{line_of_work.last.id}" }
- other_line = get_block("other_line")
- if other_line
  .cf
    .block.right.line_of_works{:style => "width: 788px; margin: 271px 302px 99px 0"}
      %h1= other_line.title
      = raw other_line.content






= render :partial => "footer"















